heading {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.75em;
    text-align: center;
}
h1 {
  padding: 5px;
  font-family: 'Noto Sans', sans-serif;
  text-align: left;
  font-size: 1.75em;
}

p {font-family: 'Noto Sans', sans-serif;}

ul {font-family: 'Noto Sans', sans-serif;
padding: 10px;
}

h2 {
  padding: 10px;
  font-family: 'Noto Sans', sans-serif;
}
/* 
/* image borders */
body {
  border: 5px;
  border-color: gray; */  
  padding: 20px;
  }

/* working */  
img {
    border: 5px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    width: 20%;
}
/* working */
img:hover {
    box-shadow: 0 0 10px 5px rgba(0, 140, 186, 0.5);
}
/* 
<a href="paris.jpg">
  <img src="paris.jpg" alt="Paris">
</a> */

 /* gradient working */
  body {
    background: linear-gradient(to right, rgb(255, 0, 234) , yellow);
  }